html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.menu {
    display: none;
}


/* header */

#my-nav ul {
    display: flex;
    align-items: center;
    padding: 20px 20px 0 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.8vw;
    font-weight: bold;
    width: 100vw;
}

#my-nav #mylogo {
    height: auto;
    width: 6vw;
}

#my-nav ul li {
    font-size: 1vw;
    list-style-type: none;
    margin: 0 1.2vw;
    color: #777474;
    cursor: pointer;
    transition: color 0.1s;
}

#my-nav ul li:hover {
    color: #141414;
}

#my-nav ul li:nth-child(2) {
    margin-left: 5vw;
}

#my-nav ul li:nth-child(6) {
    margin: 0 3.5vw 0 40vw;
}

#my-nav ul li:nth-child(7) {
    border: 1px solid #696969;
    border-radius: 10px;
    padding: 8px 16px;
    outline: none;
    transition: border 0.1s;
}

#my-nav ul li:last-child {
    display: none;
    cursor: pointer;
}


/* main section */

#screen {
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* left screen */

#screen #left {
    flex: 65%;
    height: 600px;
    font-size: 1.2vw;
    color: #696969;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 15%;
}


/* dropdown menu */

#drop {
    display: flex;
    gap: 30px;
}

#drop-style {
    height: 20vh;
    width: 9vw;
    background-color: #ffffff;
    list-style-type: none;
    margin-top: 10px;
    margin-left: -50px;
    border-radius: 5px;
    color: #000000;
    box-shadow: 1px 1px 10px 2px #a5a0a0;
    color: #696969;
    font-size: 0.95vw;
}

#drop-style li {
    cursor: pointer;
    list-style-type: none;
    transition: color 0.1s;
    padding: 5px;
}

#drop-style li:first-child {
    padding-top: 10px;
}

#drop-style li:hover {
    color: #000000;
}

#drop-style img {
    height: 15px;
    width: 15px;
    margin: 0 10px;
}

#drop-style2 {
    height: 15vh;
    width: 7.5vw;
    background-color: #ffffff;
    list-style-type: none;
    margin-top: 10px;
    border-radius: 5px;
    color: #000000;
    box-shadow: 1px 1px 10px 2px #a5a0a0;
    color: #696969;
    font-size: 0.95vw;
    text-align: left;
}

#drop-style2 li {
    padding: 5px;
    cursor: pointer;
    transition: color 0.1s;
    padding-left: 24px;
    padding-top: 5px;
}

#drop-style2 li:hover {
    color: #000000;
}

#drop-style2 li:nth-child(1) {
    padding-top: 15px;
}

#screen #left #big {
    font-size: 5vw;
    color: #141414;
    font-weight: 700;
    padding-bottom: 30px;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 1px;
    line-height: 60px;
}

#screen #left #big #make {
    display: block;
}

#screen #left #mini {
    line-height: 23px;
    margin: 0 16.5vw 0 0;
}

#butt {
    background: #141414;
    color: #fafafa;
    border: none;
    padding: 1vw 2vw;
    border-radius: 10px;
    margin-top: 20px;
    margin-bottom: 70px;
    cursor: pointer;
    transition: background 0.2s, border 0.2s font-weight 0.2s;
}

#butt:hover {
    background: #fafafa;
    color: #141414;
    font-weight: bold;
    border: 0.5px solid black;
}

#screen #left .bottom-images img {
    height: auto;
    width: 6vw;
    padding-left: 0.5vw;
}


/* right screen */

#screen #right {
    flex: 40%;
    height: 600px;
}

#screen #right #right-image {
    height: auto;
    max-width: 370px;
    min-width: 350px;
    width: 31vw;
    padding-top: 60px;
    padding-left: -40px;
}

#screen #right .menu {
    display: none;
}


/* media queries(tablet) */

@media all and (min-width: 700px) and (max-width: 1100px) {
    #my-nav ul {
        display: flex;
        align-items: center;
        padding: 20px 20px 0 30px;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 2vw;
        font-weight: bold;
        width: 100vw;
    }
    #drop-style {
        margin-top: -25px;
        height: 18vh;
        width: 11vw;
    }
    #drop-style2 {
        margin-top: -20px;
        height: 10vh;
        width: 8vw;
    }
    #drop-style2 li {
        padding-left: 16px;
    }
    #screen {
        height: 90%;
    }
    #screen #left {
        height: 90%;
    }
    #screen #right {
        height: 90%;
    }
    #screen #right #right-image {
        height: auto;
        max-width: 320px;
        width: 31vw;
        padding-top: 60px;
        padding-right: 30px;
    }
    #screen #left #big {
        font-size: 4vw;
    }
    #screen #left #mini {
        line-height: 23px;
        margin: 0 100px 0 0;
    }
}


/* media queries(mobile) */

@media all and (min-width: 200px) and (max-width: 700px) {
    body {
        overflow-x: hidden;
    }
    #my-nav #mylogo {
        width: 14vw;
        margin-left: -15px;
    }
    #my-nav ul {
        margin-bottom: 25px;
    }
    #my-nav ul li:not(:first-child) {
        display: none;
    }
    #my-nav ul li:last-child {
        display: block;
        margin-left: 64vw;
    }
    #my-nav ul li:last-child:active {
        background-color: rebeccapurple;
    }
    #screen {
        display: flex;
        width: 100vw;
        height: 100vh;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        padding-top: 180px;
        text-align: center;
        background-color: red;
    }
    #drop {
        display: none;
    }
    #screen #left {
        margin: 0;
        padding: 0;
        width: 100%;
        font-size: 3vw;
    }
    #screen #left #mini {
        line-height: 23px;
        width: 100%;
    }
    #screen #left #big {
        font-size: 6vw;
        padding: 30px 0 20px 0;
        margin: 0;
    }
    #screen #left #big #make {
        display: inline;
    }
    #butt {
        padding: 3vw 6vw;
        margin-top: 30px;
        margin-bottom: 50px;
    }
    #screen #left .bottom-images img {
        height: auto;
        width: 13vw;
        margin: 0 3vw 100px 3vw;
    }
    #screen #right {
        margin: 0;
        padding: 0;
        width: 100%;
    }
    #screen #right #right-image {
        margin-top: -150px;
    }
    #menubutt {
        padding: 10px;
    }
    .menu {
        display: block;
        height: 100%;
        min-width: 55%;
        position: absolute;
        right: -400;
        text-align: left;
        top: 0;
        bottom: 0;
        transition: right 0.4s ease-in-out;
        background: #fafafa;
        font-size: 15px;
        box-shadow: 1px 1px 1px 1px black;
        font-weight: 200;
    }
    .menu #close {
        font-size: 35px;
        float: right;
        padding: 10px 20px 10px 0;
        cursor: pointer;
        color: #1b1a1a;
    }
    .menu #close:active {
        color: red;
    }
    .menu ol {
        list-style: none;
        padding: 100px 0 0 30px;
    }
    .menu ol li {
        padding: 0 10px 20px 0;
        color: #777474;
        cursor: pointer;
        font-size: 1em;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
        transition: color 0.1s;
    }
    .menu ol li:hover {
        color: #141414;
    }
    /* side menu drop down */
    .menu #side-drop {
        font-size: 0.9em;
        margin: 10px 0 10px 20px;
        list-style: none;
    }
    .menu #side-drop img {
        padding-right: 9px;
    }
    .menu #side-drop2 {
        font-size: 0.9em;
        margin: 10px 0 10px 20px;
        list-style: none;
    }
}
